.shopcategory-banner{
    margin:32px auto;
    display:block;
    width:95%;
}
.shopcategory-indexsort{
    display:flex;
    margin:0px 170px;
    justify-content: space-between;
    align-items: center;
}
.shopcategory-indexsort p span{
    font-weight: 600;
}
.shopcategory-products{
    gap:30px;
    margin:20px 170px 100px 90px;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    row-gap: 80px;
   
}
@media(max-width:1280px){
    .shopcategory-indexsort{
        width:90%;
        margin:auto;
    }
    .shopcategory-sort{
        padding:5px 10px;
        font-size: 12px;
    }
    .shopcategory-indexsort p{
        font-size: 12px;
    }
    .shopcategory-products{
        width:90%;
        margin: 10px auto;
        row-gap:40px;
    }
    .shopcategory-products .item{
        margin:auto;
    }
}
@media(max-width:800px){
    .shopcategory-banner{
        width:100%;
    }
    .shopcategory-products{
        width:95%;
        margin: 10px auto;
        row-gap:40px;
    }
    
}
@media(max-width:500px){
    
    .shopcategory-products{
        grid-template-columns: 1fr 1fr;
    
    }
    
}